<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/adminAdminList/css/styles.css">
</head>
<body>
    <div id="wrapper">
        <div class="overlay"></div>
    
        <!-- Sidebar -->
        <nav class="navbar navbar-inverse navbar-fixed-top" id="sidebar-wrapper" role="navigation">
            <ul class="nav sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#">
                       Admin Access
                    </a>
                </li>
                <li>
                  <form action="/adminBackend" method="post"><a href="#"><button type="submit" style="background-color:#1a1a1a;">Statistics</button></a></form>
                </li>
                <li><form action="/adminEbooksList" method="post"><a href="#"><button type="submit" style="background-color:#1a1a1a;">eBooks List</button></a></form></li>
                <li><form action="/adminAdminList" method="post"><a href="#"><button type="submit" style="background-color:#1a1a1a;">Admin List</button></a></form></li>
                <li><form action="/adminUserList" method="post"><a href="#"><button type="submit" style="background-color:#1a1a1a;">User List</button></a></form></li>
                <li><form action="/" method="get"><a href="#"><button type="submit" style="background-color:#1a1a1a;">Logout</button></a></form></li>
            </ul>
        </nav>
        <!-- /#sidebar-wrapper -->
    
        <!-- Page Content -->
        <div id="page-content-wrapper">
            <button type="button" class="hamburger is-closed" data-toggle="offcanvas">
                <span class="hamb-top"></span>
          <span class="hamb-middle"></span>
        <span class="hamb-bottom"></span>
            </button>
            <div class="container">
                    <div class="col-lg-8">
                        <h1>Admin List</h1>
                        <table id="admins">
                            <tr>
                            <th>
                                <span class="a">User</span>
                            </th>       
                            <th>
                                <span class="a">Password</span>
                            </th>
                            <th>
                              <form action="/adminEdit" method="post">
                                  <button class="b" type="submit">Edit</button>
                                  </form>
                            </th>
                            <th>
                                <button class="b" id="delete">Delete</button>
                            </th>
                            <th>
                              <form action="/adminNew" method="post">
                                <button class="b" type="submit">New</button>
                                </form>
                            </th>
                            
                            </tr>
                        </table>
                    </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->
    
    </div>
    <!-- /#wrapper -->
            
          
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script>
        $(document).ready(function () {
        var trigger = $('.hamburger'),
            overlay = $('.overlay'),
           isClosed = false;
      
          trigger.click(function () {
            hamburger_cross();      
          });
      
          function hamburger_cross() {
      
            if (isClosed == true) {          
              overlay.hide();
              trigger.removeClass('is-open');
              trigger.addClass('is-closed');
              isClosed = false;
            } else {   
              overlay.show();
              trigger.removeClass('is-closed');
              trigger.addClass('is-open');
              isClosed = true;
            }
        }
        
        $('[data-toggle="offcanvas"]').click(function () {
              $('#wrapper').toggleClass('toggled');
        });  
      });
      </script>
      <script>
        $.get("/adminListing",function(data,status){
            $(document).ready(function(){
                for(i = 0; i <data.length;i++){
                    $("#admins").append("<tr id=\"" +i+"\"></tr>")
                    $("#"+i).append("<td>"+data[i][0]+"</td>")
                    $("#"+i).append("<td>"+data[i][1].password+"</td>")
                }
            })
                for(i=0; i<data.length;i++){
                    document.getElementById(i).addEventListener('click',highlight);
                }
          console.log(data);
        });
        function highlight(item){
            // To get tr tag  
            // In the row where we click 
            var row = item.path[1]; 
            // Toggle the highlight 
            if (row.classList.contains('highlight')) 
              row.classList.remove('highlight'); 
            else 
              row.classList.add('highlight'); 
        }
      </script>
      <script>
        $("#delete").click(function(){
          var temp = document.getElementsByClassName('highlight')
          var elements = document.getElementsByTagName('tr');
          if(elements.length-1===temp.length){
            alert("You can not delete all accounts")
          }
          else{
            var deleteAccounts = []
          for(i = 0; i<temp.length;i++){
            deleteAccounts.push(temp[i].firstChild.innerHTML)
            console.log(temp[i].firstChild.innerHTML)
          }
          $.post({
        traditional: true,
        url: '/adminDelete',
        contentType: 'application/json',
        data: JSON.stringify(deleteAccounts),
        dataType: 'json',
        success: function(response){if(response)location.reload()}
} );
          }
          
      });
      </script>
      <script src="/stylesheets/adminAdminList/js/admin.js"></script>
</body>
</html>