<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/bookNew/css/styles.css">
</head>
<body>
    <div id="wrapper">
        <div class="overlay"></div>
    
        <!-- Sidebar -->
        <nav class="navbar navbar-inverse navbar-fixed-top" id="sidebar-wrapper" role="navigation">
            <ul class="nav sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#">
                       Admin Access
                    </a>
                </li>
                <li><form action="/adminEbooksList" method="post"><a href="#"><button type="submit" style="background-color:#1a1a1a;">eBooks List</button></a></form></li>
                <li><form action="/adminAdminList" method="post"><a href="#"><button type="submit" style="background-color:#1a1a1a;">Admin List</button></a></form></li>
                <li><form action="/adminUserList" method="post"><a href="#"><button type="submit" style="background-color:#1a1a1a;">User List</button></a></form></li>
                <li><form action="/" method="get"><a href="#"><button type="submit" style="background-color:#1a1a1a;">Logout</button></a></form></li>
            </ul>
        </nav>
        <!-- /#sidebar-wrapper -->
    
        <!-- Page Content -->
        <div id="page-content-wrapper">
            <button type="button" class="hamburger is-closed" data-toggle="offcanvas">
                <span class="hamb-top"></span>
          <span class="hamb-middle"></span>
        <span class="hamb-bottom"></span>
            </button>
            <div class="container">
                    <div class="col-lg-8">
                        <h1>New eBook File</h1>
                        <label for="book"><h2 class="newFile">Book PDF</h2></label>
                          <input class="newFile" type="file" value="upload" name="book" id="book">
                          <input class="newFile" type="text" name="title" id="title" placeholder="Title:">
                          <input class="newFile" type="text" name="language" id="language" placeholder="Language:">
                          <input class="newFile" type="text" name="description" id="description" placeholder="Description:">
                          <input class="newFile" type="text" name="price" id="price" placeholder="Price:">
                          <label for="cover"><h2 class="newFile">Cover Image</h2></label>
                          <input class="newFile" type="file" value="upload" name="cover" id="cover">
                          <button id="fileSubmit" class="b" type="submit">Submit</button>
                          <div style="visibility: hidden;" id="uploading" class="loader"></div>
                          <h2 id ="warning" style="color:red; visibility: hidden;"></h2>
                          
                        </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->
    
    </div>
    <!-- /#wrapper -->
            
          
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script>
        $(document).ready(function () {
        var trigger = $('.hamburger'),
            overlay = $('.overlay'),
           isClosed = false;
      
          trigger.click(function () {
            hamburger_cross();      
          });
      
          function hamburger_cross() {
      
            if (isClosed == true) {          
              overlay.hide();
              trigger.removeClass('is-open');
              trigger.addClass('is-closed');
              isClosed = false;
            } else {   
              overlay.show();
              trigger.removeClass('is-closed');
              trigger.addClass('is-open');
              isClosed = true;
            }
        }
        
        $('[data-toggle="offcanvas"]').click(function () {
              $('#wrapper').toggleClass('toggled');
        });  
      });
      </script>
      <script src="https://www.gstatic.com/firebasejs/8.2.7/firebase-app.js"></script>
      
      <script src="https://www.gstatic.com/firebasejs/8.2.7/firebase-storage.js"></script>
      <script src="https://www.gstatic.com/firebasejs/8.2.7/firebase-firestore.js"></script>
      
      <script>
        // Initialize Firebase
        var firebaseConfig = {
  apiKey: "AIzaSyB8qtYqUk95tgv1dtIp1e-VUayLgaomHYU",
  authDomain: "e-book-app-e4ef1.firebaseapp.com",
  projectId: "e-book-app-e4ef1",
  storageBucket: "e-book-app-e4ef1.appspot.com",
  messagingSenderId: "880958040339",
  appId: "1:880958040339:web:61d49a751c03b2e6ab52e6",
  measurementId: "G-MKN3EDRVNM"
};
        firebase.initializeApp(firebaseConfig);
        </script>
        <script>
        var fileButton = document.getElementById("fileSubmit");
        fileButton.addEventListener('click', function(e){
        document.getElementById('uploading').style.visibility = 'visible'
        var book = document.getElementById('book').files[0];
        var title = document.getElementById('title').value;
        var language = document.getElementById('language').value;
        var description = document.getElementById('description').value;
        var cover = document.getElementById('cover').files[0];
        var price = document.getElementById('price').value;
        console.log(book === undefined);
        if(book === undefined || cover === undefined) {
          alert("File(s) is/are missing.");
          location.reload();
        }
        else{
          var bookName = book.name;
          var coverName = cover.name;
          console.log(coverName)
          console.log(bookName)
          if(bookName.split('.').pop().toString().toLowerCase() != "pdf" || !(coverName.split('.').pop().toString().toLowerCase() == 'png' || coverName.split('.').pop().toString().toLowerCase() == 'jpg' || coverName.split('.').pop().toString().toLowerCase() == 'jpeg') || language == "" || title == "" || description == "" || price == ""){
            alert("Book is not acceptable.");
            location.reload();
          }
        }
        var fileNameSplit = bookName.split('.');
        fileNameSplit.pop();
        bookName = fileNameSplit.join('');
        fileNameSplit = coverName.split('.');
        coverExtension = fileNameSplit.pop().toString().toLowerCase();
        coverName = fileNameSplit.join('');
        var documentID = ""
          var letters = ["a","b","c","d","e","f","g","h","i","j","k","l","m","n","o","p","q","r","s","t","u","v","w","x","y","z","0","1","2","3","4","5","6","7","8","9"]
          documentID += letters[Math.floor(Math.random()*26)];
          for (i = 0; i<19; i++){
            var index = Math.floor(Math.random()*36)
            documentID += letters[index];
          }
        const collection = firebase.firestore().collection("Books")
        collection.where('title', '==', bookName).get().then((bookCheck)=>{
          if(bookCheck.empty){
            
            var storageRef = firebase.storage().ref(documentID+".pdf");

            const bookData = {
            id: documentID,
            language: language,
            title: title,
            description: description,
            price: price,
            cover: coverExtension
            }
            firebase.firestore().collection("Books").doc(documentID).set(bookData)
            var task = storageRef.put(book);
            task.on('state_changed', function progress(snapshot) {

            }, function error(err) {

            },function complete() {
              var storageRef2 = firebase.storage().ref(documentID+"cover."+coverExtension)
              var task2 = storageRef2.put(cover);
              task2.on('state_changed', function progress(){

              },
              function error(err){

              },
              function complete() {
                document.getElementById('uploading').style.visibility = 'hidden'
                document.getElementById('warning').innerHTML = "You need to add this id as an in-app purchase id: " + documentID;
                document.getElementById('warning').style.visibility = 'visible'
                alert("Files have been uploaded.");
                location.reload()
              });
              
            });
            }
          else{
            alert("Book already exists in the database")
            location.reload();
          }
          });

        });
        </script>
</body>
</html>