<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wuhan</title>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <script src="//mozilla.github.io/pdf.js/build/pdf.js"></script>
    <link rel="stylesheet" type="text/css" href="/stylesheets/userPDFReader/css/styles.css">
</head>
<body>
  <div id="wrapper">
    <div class="overlay"></div>
     
         <!-- Sidebar -->
     <nav class="navbar navbar-inverse fixed-top" id="sidebar-wrapper" role="navigation">
      <ul class="nav sidebar-nav">
        <div class="sidebar-header">
        <div class="sidebar-brand">
          <a href="#">Wuhan</a></div></div>

        <li class="dropdown">
        <a href="#" class="dropdown-toggle"  data-toggle="dropdown">Library <span class="caret"></span></a>
      <ul class="dropdown-menu" role="menu" id="library">
       <div class="dropdown-header">Books</div>

       </ul>
       </li>
       <li class="dropdown">
        <a href="#" class="dropdown-toggle"  data-toggle="dropdown">Account <span class="caret"></span></a>
      <ul class="dropdown-menu" role="menu" id="credentials">
       <div class="dropdown-header">Credentials</div>

       </ul>
       </li>
       <li><a id="availableBooks" href="userAvailableBooks">Available Books</a></li>
       <li><a href="/">Logout</a></li>
       </ul>
   </nav>
         <!-- /#sidebar-wrapper -->
 
         <!-- Page Content -->
         <div id="page-content-wrapper">
             <button type="button" class="hamburger animated fadeInLeft is-closed" data-toggle="offcanvas">
                 <span class="hamb-top"></span>
           <span class="hamb-middle"></span>
         <span class="hamb-bottom"></span>
             </button>
             <div class="container">
                 <div class="row">
                     <div class="col-lg-8 col-lg-offset-2">
                      <div>
                        <button id="prev">Previous page</button>
                      
                        <button id="next">Next page</button>
                      
                        <span>Page: <span id="page_num"></span> / <span id="page_count"></span></span>
                        <button id ="save">Save</button>
                      </div>
                    <canvas id ="pdf-render"></canvas>
                  </div>
                 </div>
             </div>
         </div>
         <!-- /#page-content-wrapper -->
 
     </div>
     <!-- /#wrapper -->
            
          
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
    <script>
        $(document).ready(function () {
        var trigger = $('.hamburger'),
            overlay = $('.overlay'),
           isClosed = false;
      
          trigger.click(function () {
            hamburger_cross();      
          });
      
          function hamburger_cross() {
      
            if (isClosed == true) {          
              overlay.hide();
              trigger.removeClass('is-open');
              trigger.addClass('is-closed');
              isClosed = false;
            } else {   
              overlay.show();
              trigger.removeClass('is-closed');
              trigger.addClass('is-open');
              isClosed = true;
            }
        }
        
        $('[data-toggle="offcanvas"]').click(function () {
              $('#wrapper').toggleClass('toggled');
        });  
      });
      </script>
      <script src="https://www.gstatic.com/firebasejs/8.2.7/firebase-app.js"></script>
      <script src="https://www.gstatic.com/firebasejs/8.2.7/firebase-firestore.js"></script>
      <script>
        var firebaseConfig = {
  apiKey: "AIzaSyB8qtYqUk95tgv1dtIp1e-VUayLgaomHYU",
  authDomain: "e-book-app-e4ef1.firebaseapp.com",
  projectId: "e-book-app-e4ef1",
  storageBucket: "e-book-app-e4ef1.appspot.com",
  messagingSenderId: "880958040339",
  appId: "1:880958040339:web:61d49a751c03b2e6ab52e6",
  measurementId: "G-MKN3EDRVNM"
};
// Initialize Firebase
firebase.initializeApp(firebaseConfig);
      </script>
<script>
  var userID = "<%= id %>";
        $.get("/library?uid="+ userID,function(data,status){
          for(i = 0; i<data.length;i++){
            $(document).ready(function(){
              var url = '/getBook?book=' + data[i][0] + '&uid='+ userID
              $("#library").append('<li ><a class=\'books\' href='+ url +'>'+data[i][1]+"</a></li>")
            })
          }
        });
</script>
<script>
  var userID = "<%= id %>";
  $.get("/credentials?uid=" + userID,function(data,status){
      for(i = 0; i<data.length;i++){
        $(document).ready(function(){
          $("#credentials").append("<li ><a href=\"#\">"+data[i].join("")+"</a></li>")
        })
      }
      $('#credentials').append("<li><a href=\"userEditAccount?uid="+userID+"\">Edit Account Credentials</a></li>")
  });
</script>
<script>
  var userID = "<%= id %>";
  $('#availableBooks').attr("href", "/userAvailableBooks?uid=" + userID);
</script>
      
<script>
  var page = "<%= pageNumber %>";
  var bookUrl = "<%= pdfURL %>";
  var userID = "<%= id %>";
  var book = "<%= book %>";

var url = bookUrl

var pdfjsLib = window['pdfjs-dist/build/pdf'];

pdfjsLib.GlobalWorkerOptions.workerSrc = '//mozilla.github.io/pdf.js/build/pdf.worker.js';

var pdfDoc = null,
    pageNum = parseInt(page,10),
    pageRendering = false,
    pageNumPending = null,
    scale = 1.25,
    canvas = document.getElementById('pdf-render'),
    ctx = canvas.getContext('2d');


function renderPage(num) {
  pageRendering = true;

  pdfDoc.getPage(num).then(function(page) {
    var viewport = page.getViewport({scale: scale});
    canvas.height = viewport.height;
    canvas.width = viewport.width;

    var renderContext = {
      canvasContext: ctx,
      viewport: viewport
    };
    var renderTask = page.render(renderContext);

    renderTask.promise.then(function() {
      pageRendering = false;
      if (pageNumPending !== null) {
        renderPage(pageNumPending);
        pageNumPending = null;
      }
    });
  });

  document.getElementById('page_num').textContent = num;
}


function queueRenderPage(num) {
  if (pageRendering) {
    pageNumPending = num;
  } else {
    renderPage(num);
  }
}

/**
 * show previous page
 */
function onPrevPage() {
  if (pageNum > 1) {
    pageNum--;
    queueRenderPage(pageNum);
  }
}

document.getElementById('prev').addEventListener('click', onPrevPage);

/**
 * show next page
 */
function onNextPage() {
  if (pageNum < pdfDoc.numPages) {
    pageNum++;
    queueRenderPage(pageNum);
  }
}

document.getElementById('next').addEventListener('click', onNextPage);

/**
 * PDF async "download".
 */
pdfjsLib.disableWorker = true;
pdfjsLib.getDocument(url).promise.then(function(pdfDoc_) {
  //Set loaded PDF to main pdfDoc variable
  pdfDoc = pdfDoc_;
  //Show number of pages in document
  document.getElementById('page_count').textContent = pdfDoc.numPages;

  renderPage(pageNum);
  
});
$(function(){
  $('#save').click(function(){
  let userFirestore = firebase.firestore().collection("Users").doc(userID)
  userFirestore.update({['ebooks.'+book]:pageNum})
});
});

</script>
</body>
</html>