<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wuhan</title>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/userAvailableBooks/css/styles.css">

</head>
<body>
  <div id="wrapper">
    <div class="overlay"></div>

    <!-- Sidebar -->
    <nav class="navbar navbar-inverse navbar-fixed-top" id="sidebar-wrapper" role="navigation">
        <ul class="nav sidebar-nav">
            <li class="sidebar-brand">
                <a href="#">
                   Wuhan
                </a>
            </li>

            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Library <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu" id="library">
                <li class="dropdown-header">Books</li>
                
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Account <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu" id="credentials">
                <li class="dropdown-header">Credentials</li>
                
              </ul>
            </li>
            <li>
              <a id="availableBooks" href="">Available Books</a>
          </li>
            <li>
              <a href="/">Logout</a>
          </li>

        </ul>
    </nav>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">
        <button type="button" class="hamburger is-closed" data-toggle="offcanvas">
            <span class="hamb-top"></span>
      <span class="hamb-middle"></span>
    <span class="hamb-bottom"></span>
        </button>
        <div class="col-md-6 col-md-offset-3">
          <div class="carousel slide" id="myCarousel">
            <ol class="carousel-indicators">
            </ol>
            <div class="carousel-inner">
              <div class="item active">
                <div class="col-md-4"><a href="#"><img src="http://placehold.it/500/bbbbbb/fff&amp;text=1" class="img-responsive"></a>
                <div style="background-color: gray;">
                <p>sdkjlgwÄ±elkrhjklerj
                  kdlfjhlwerkjolertj
                  pwrekjerj
                </p>
            </div>
            <div id="paypal-button-container"></div>

    <!-- Include the PayPal JavaScript SDK -->
    <script src="https://www.paypal.com/sdk/js?client-id=sb&currency=USD"></script>

    <script>
        // Render the PayPal button into #paypal-button-container
        paypal.Buttons({

            // Set up the transaction
            createOrder: function(data, actions) {
                return actions.order.create({
                    purchase_units: [{
                        amount: {
                            value: '88.44'
                        }
                    }]
                });
            },

            // Finalize the transaction
            onApprove: function(data, actions) {
                return actions.order.capture().then(function(details) {
                    // Show a success message to the buyer
                    alert('Transaction completed by ' + details.payer.name.given_name + '!');
                });
            }


        }).render('#paypal-button-container');
    </script>
              <div></div>
            </div>
              </div>
              <div class="item">
                <div class="col-md-4"><a href="#"><img src="http://placehold.it/500/CCCCCC/fff&amp;text=2" class="img-responsive"></a></div>
              </div>
              <div class="item">
                <div class="col-md-4"><a href="#"><img src="http://placehold.it/500/eeeeee/fff&amp;text=3" class="img-responsive"></a></div>
              </div>
              <div class="item">
                <div class="col-md-4"><a href="#"><img src="http://placehold.it/500/f4f4f4/fff&amp;text=4" class="img-responsive"></a></div>
              </div>
              <div class="item">
                <div class="col-md-4"><a href="#"><img src="http://placehold.it/500/fcfcfc/333&amp;text=5" class="img-responsive"></a></div>
              </div>
              <div class="item">
                <div class="col-md-4"><a href="#"><img src="http://placehold.it/500/f477f4/fff&amp;text=6" class="img-responsive"></a></div>
              </div>
            </div>
            <a class="left carousel-control" href="#myCarousel" data-slide="prev"><i class="glyphicon glyphicon-chevron-left"></i></a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next"><i class="glyphicon glyphicon-chevron-right"></i></a>
          </div>
          </div>
          
    </div>
    <!-- /#page-content-wrapper -->

</div>
<!-- /#wrapper -->

      
<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<script>

$('#myCarousel').carousel({
  interval: 10000
})

$('.carousel .item').each(function(){
  var next = $(this).next();
  if (!next.length) {
    next = $(this).siblings(':first');
  }
  next.children(':first-child').clone().appendTo($(this));
  
  if (next.next().length>0) {
    next.next().children(':first-child').clone().appendTo($(this));
  }
  else {
  	$(this).siblings(':first').children(':first-child').clone().appendTo($(this));
  }
});
  
</script>
<script>
  $(document).ready(function () {
  var trigger = $('.hamburger'),
      overlay = $('.overlay'),
     isClosed = false;

    trigger.click(function () {
      hamburger_cross();      
    });

    function hamburger_cross() {

      if (isClosed == true) {          
        overlay.hide();
        trigger.removeClass('is-open');
        trigger.addClass('is-closed');
        isClosed = false;
      } else {   
        overlay.show();
        trigger.removeClass('is-closed');
        trigger.addClass('is-open');
        isClosed = true;
      }
  }
  
  $('[data-toggle="offcanvas"]').click(function () {
        $('#wrapper').toggleClass('toggled');
  });  
});
</script>
<script>
$(document).ready(function(){  
    var myCarousels = $(".carousel");
    myCarousels.each(function( index, element  ) {
        var myCarousel = $("#"+$(element).attr('id')); 
        var indicators = $("#"+$(element).attr('id') + " .carousel-indicators"); 
        $("#"+$(element).attr('id') +" .carousel-inner").children(".item").each(function(index) {
            console.log(index);
            (index === 0) ? 
            indicators.append("<li data-target='#"+$(element).attr('id')+"' data-slide-to='"+index+"' class='active'></li>") : 
            indicators.append("<li data-target='#"+$(element).attr('id')+"' data-slide-to='"+index+"'></li>");
        });
    });
});
</script>
<script>
  var userID = "<%= id %>";
        $.get("/library?uid="+ userID,function(data,status){
          for(i = 0; i<data.length;i++){
            $(document).ready(function(){
              var url = '/getBook?book=' + data[i][0] + '&uid='+ userID
              $("#library").append('<li><a class=\'books\' href='+ url +'>'+data[i][1]+"</a></li>")
            })
          }
        });
</script>
<script>
  var userID = "<%= id %>";
  $.get("/credentials?uid=" + userID,function(data,status){
      for(i = 0; i<data.length;i++){
        $(document).ready(function(){
          $("#credentials").append("<li><a href=\"#\">"+data[i].join("")+"</a></li>")
        })
      }
  });
</script>
<script>
  var userID = "<%= id %>";
  $('#availableBooks').attr("href", "/userAvailableBooks?uid=" + userID);
</script>
</body>
</html>
