<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wuhan</title>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/stylesheets/userAvailableBooks/css/styles.css">

</head>
<body>
  <div id="wrapper">
    <div class="overlay"></div>

    <!-- Sidebar -->
    <nav class="navbar navbar-inverse fixed-top" id="sidebar-wrapper" role="navigation">
      <ul class="nav sidebar-nav">
        <div class="sidebar-header">
        <div class="sidebar-brand">
          <a href="#">Wuhan</a></div></div>

        <li class="dropdown">
        <a href="#" class="dropdown-toggle"  data-toggle="dropdown">Library <span class="caret"></span></a>
      <ul class="dropdown-menu" role="menu" id="library">
       <div class="dropdown-header">Books</div>

       </ul>
       </li>
       <li class="dropdown">
        <a href="#" class="dropdown-toggle"  data-toggle="dropdown">Account <span class="caret"></span></a>
      <ul class="dropdown-menu" role="menu" id="credentials">
       <div class="dropdown-header">Credentials</div>

       </ul>
       </li>
       <li><a href="userAvailableBooks">Available Books</a></li>
       <li><a href="/">Logout</a></li>
       </ul>
   </nav>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">
        <button type="button" class="hamburger is-closed" data-toggle="offcanvas">
            <span class="hamb-top"></span>
      <span class="hamb-middle"></span>
    <span class="hamb-bottom"></span>
        </button>
        <div class="container text-center my-3">
          <div id="mainDiv" class="row mx-auto my-auto">
              <div id="recipeCarousel" class="carousel slide w-100" data-ride="carousel">
                <ul class="carousel-indicators"></ul>
                  <div id="bookCarousel" class="carousel-inner w-100" role="listbox">
                  </div>
                  <a id="prevButton" class="carousel-control-prev w-auto" href="#recipeCarousel" role="button" data-slide="prev">
                      <span class="carousel-control-prev-icon bg-dark border border-dark rounded-circle" aria-hidden="true"></span>
                      <span class="sr-only">Previous</span>
                  </a>
                  <a id="nextButton" class="carousel-control-next w-auto" href="#recipeCarousel" role="button" data-slide="next">
                      <span class="carousel-control-next-icon bg-dark border border-dark rounded-circle" aria-hidden="true"></span>
                      <span class="sr-only">Next</span>
                  </a>
              </div>
              <h2 id="transaction" style="margin-left:10%; margin-top:3rem; color:black; visibility: hidden;"></h2>
          </div>
          <h1 hidden id ="priceBook"></h1>
    </div>

    </div>
    <!-- /#page-content-wrapper -->

</div>
<!-- /#wrapper -->

<h3 id="correcter" hidden></h3>     
<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>

<script>
  $(document).ready(function () {
  var trigger = $('.hamburger'),
      overlay = $('.overlay'),
     isClosed = false;

    trigger.click(function () {
      hamburger_cross();      
    });

    function hamburger_cross() {

      if (isClosed == true) {          
        overlay.hide();
        trigger.removeClass('is-open');
        trigger.addClass('is-closed');
        isClosed = false;
      } else {   
        overlay.show();
        trigger.removeClass('is-closed');
        trigger.addClass('is-open');
        isClosed = true;
      }
  }
  
  $('[data-toggle="offcanvas"]').click(function () {
        $('#wrapper').toggleClass('toggled');
  });  
});
</script>

<script>
  var userID = "<%= id %>";
        $.get("/library?uid="+ userID,function(data,status){
          for(i = 0; i<data.length;i++){
            $(document).ready(function(){
              console.log(data[i][0])
              var url = '/getBook?book=' + data[i][0] + '&uid='+ userID
              $("#library").append('<li><a class=\'books\' href='+ url +'>'+data[i][1]+"</a></li>")
            })
          }
        });
</script>
<script>
  var userID = "<%= id %>";
  $.get("/credentials?uid=" + userID,function(data,status){
      for(i = 0; i<data.length;i++){
        $(document).ready(function(){
          $("#credentials").append("<li><a href=\"#\">"+data[i].join("")+"</a></li>")
        })
      }
      $('#credentials').append("<li><a href=\"userEditAccount?uid="+ userID+"\">Edit Account Credentials</a></li>")
  });
</script>
<script>
  var userID = "<%= id %>";
  $('#availableBooks').attr("href", "/userAvailableBooks?uid=" + userID);
</script>
<script>
    var books = "<%= books %>";
    var booksArray = books.split(',');
    $(document).ready(function(){
        var bookCounter = 0;
        var myCarousel = $("#bookCarousel")
            for(i = 0; i< booksArray.length;i+=4){
              if(books=="")
              break;
                if(i==0)
                    myCarousel.append("<div class=\"carousel-item active\"><div class=\"col-md-4\"><div style=\"height:400px;\" class=\"card card-body\"><img loading=\"eager\" class=\"img-fluid\" src=\""+ booksArray[i+1]+"\"><br><h3>Title: "+booksArray[i+2] +"</h3><br><p>Description: "+booksArray[i]+"</p><div class=\"paypal-class\" id=\"paypal-button\"></div></div></div></div></div>")
                else
                    myCarousel.append("<div class=\"carousel-item\"><div class=\"col-md-4\"><div style=\"height:400px;\" class=\"card card-body\"><img loading=\"eager\" class=\"img-fluid\" src=\""+ booksArray[i+1]+"\"><br><h3>Title: "+booksArray[i+2] +"</h3><br><p>Description: "+booksArray[i]+"</p><div class=\"paypal-class\" id=\"paypal-button\"></div></div></div></div></div>")
                bookCounter++;
                    }


    });
</script>
<script>
  $('#recipeCarousel').carousel({
        interval: 10000
      })
$(document).ready(function(){
    var books = "<%= books %>";
    var booksArray = books.split(',');
    var counter = 0;
    $('.carousel .carousel-item').each(function(){
        counter++;
    });
    
    if(counter==0){
        var myCarousel = $('#bookCarousel')
        myCarousel.css('display','none');
        var mainDiv = $('#mainDiv')
        mainDiv.append("<h1 style=\"color:black\">There are no books to be shown</h1>")
        var nextButton = $('#nextButton')
        var prevButton = $('#prevButton')
        nextButton.css('display','none')
        prevButton.css('display','none')
    }

    else if(counter == 1){
        var myCarousel = $("#bookCarousel")
        myCarousel.append("<div class=\"carousel-item\"><div class=\"col-md-4\"><div style=\"height:400px;\" class=\"card card-body\"><img loading=\"eager\" class=\"img-fluid\" src=\""+ booksArray[1]+"\"><br><h3>Title: "+booksArray[2] +"</h3><br><p>Description: "+booksArray[0]+"</p><div class=\"paypal-class\" id=\"paypal-button\"></div></div></div></div>")
        $('.carousel .carousel-item').each(function(){
            for (i = 0; i<2; i++){
                $(this).children(':first-child').clone().appendTo($(this))
                
            }
      });
    }
    else if (counter == 2){
        forCounter = 0;
        $('.carousel .carousel-item').each(function(){
            if(counter == 0){
                var next = $(this).next()
                next.children(':first-child').clone().appendTo($(this))
                $(this).children(':first-child').clone().appendTo($(this))
                counter++;
            }
            else{
                var next = $(this).siblings(':first');
                next.children(':first-child').clone().appendTo($(this))
                $(this).children(':first-child').clone().appendTo($(this));
            }
      });

    }
    else if (counter > 2){
        $('.carousel .carousel-item').each(function(){
          var minPerSlide = 3;
          var next = $(this).next();
          if (!next.length) {
          next = $(this).siblings(':first');
          }
          next.children(':first-child').clone().appendTo($(this));
          
          for (var i=0;i<minPerSlide;i++) {
              next=next.next();
              if (!next.length) {
                next = $(this).siblings(':first');
              }
              
              next.children(':first-child').clone().appendTo($(this));
            }
      });
    }

});
</script>
<script src="https://www.paypalobjects.com/api/checkout.js"></script>


<script>
    var books = "<%= books %>";
    var booksArray = books.split(',');
    var titles =  [];
    var prices = [];
    var paypalPrices = [];
    var paypalTitles = [];
    for(i=2;i<booksArray.length;i+=4){
      document.getElementById('correcter').innerHTML = booksArray[i]
      titles.push(document.getElementById('correcter').innerHTML)

    }
      document.getElementById('correcter').remove()
    for(i=3;i<booksArray.length;i+=4)
      prices.push(booksArray[i])
    var userID = "<%= id %>";
    var counter = 0;
    $(function(){
      var price;
      $('h3').each(function(){
        $(this).attr('class','title'+counter)
        counter++;
      })
      counter=0;
      $('.paypal-class').each(function(){
        console.log("Loop" + counter)
        $(this).attr('id','paypal-button'+counter)
        $(this).css('margin-top',"1rem")
        $(this).mouseover(function(){
          document.getElementById('priceBook').innerHTML = $(this).attr('id')
        })
        var title = $('.title'+counter).html()
        title = title.substring(7)
        for(i=0; i<titles.length;i++){
          if(titles[i].trim().localeCompare(title.trim()) == 0){
            paypalPrices.push(prices[i])
            paypalTitles.push(titles[i])
          }
        }
      counter++;
        
    })
    console.log("Counter is " + counter)
    for(i=0;i<counter;i++){
      paypal.Button.render({
        
        env: 'sandbox', // Or 'production'
        // Set up the payment:
        // 1. Add a payment callback
        payment: function(data, actions) {
          // 2. Make a request to your server
          var button = document.getElementById('priceBook').innerHTML
          var index = parseInt(button.substring(13))
          return actions.request.post('/my-api/create-payment/',{
            price: paypalPrices[index]
          })
            .then(function(res) {
              // 3. Return res.id from the response
              return res.id;
            });
        },
        // Execute the payment:
        // 1. Add an onAuthorize callback
        onAuthorize: function(data, actions) {
          var button = document.getElementById('priceBook').innerHTML
          var index = parseInt(button.substring(13))
          // 2. Make a request to your server
          return actions.request.post('/my-api/execute-payment/', {
            paymentID: data.paymentID,
            payerID: data.payerID,
            price: paypalPrices[index]
    
          })
            .then(function(res) {
              $.get("/addBook?uid="+ userID+"&title="+paypalTitles[index],function(data,status){
                console.log("Data " + data)
                if(data.trim().localeCompare('OK') == 0){
                  document.getElementById('transaction').innerHTML = "Your transaction was succesful."
                  document.getElementById('transaction').style.visibility = 'visible'
                  setTimeout(function(){
                    location.reload()
                  },1000)
                }
                  else if (data.trim().localeCompare('Error') == 0){
                    document.getElementById('transaction').innerHTML = "There was a problem with your transaction. Please try again later."
                    document.getElementById('transaction').style.visibility = 'visible'
                    setTimeout(function(){
                      location.reload()
                    },1000)
                  }
              
            });
              // 3. Show the buyer a confirmation message.
            });
        }
      }, '#paypal-button'+i);
    }
    })
      
      
  
</script>
</body>
</html>
